<ion-app>
  <ion-menu menuId="main-menu" side="end" contentId="app-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      @for (section of menuSections; track section.title) {
        <ion-list class="ion-no-padding">
          <ion-list-header>{{ section.title }}</ion-list-header>

          @for (item of section.items; track item.id) {
            @if (item.type === "link") {
              <ion-menu-toggle autoHide="true">
                <ion-item
                  button
                  class="menu-item"
                  [routerLink]="item.path"
                  routerDirection="root"
                  routerLinkActive="selected"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <ion-icon
                    aria-hidden="true"
                    [name]="item.icon"
                    slot="start"
                  ></ion-icon>
                  <ion-label>{{ item.label }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            } @else {
              <ion-item button (click)="onMenuAction(item.action)">
                <ion-icon
                  aria-hidden="true"
                  [name]="item.icon"
                  slot="start"
                ></ion-icon>
                <ion-label>{{ item.label }}</ion-label>
                @if (item.action === "theme") {
                  <ion-note slot="end">{{ currentThemeLabel() }}</ion-note>
                }
              </ion-item>
            }
          }
        </ion-list>
      }
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="app-content"></ion-router-outlet>
</ion-app>
