<ion-card class="lodging-card-skeleton">
  <div class="lodging-card-skeleton-image">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>

  <ion-card-content class="lodging-card-skeleton-content">
    <ion-skeleton-text animated class="line title"></ion-skeleton-text>
    <ion-skeleton-text animated class="line location"></ion-skeleton-text>
    <ion-skeleton-text animated class="line description"></ion-skeleton-text>
    <ion-skeleton-text animated class="line price"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
